@import url('https://fonts.googleapis.com/css2? family= League+Gothic & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inspiration & display=swap');
nav{
    background-color: #775917;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li{
display: inline-block;
font-size: 18px;
padding: 15p;
}
h1{
    background-color: #775917;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
form{
    background-color: rgb(246, 247, 239);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
button{
    background-color: rgb(226, 110, 43);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
h2{
    background-color: aliceblue;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
