body{
    background-image: url("../img/explosion-de-color-312x219-cm-130g-m2-vlies-non-woven-i35909.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 300px;
    margin: 0;
    padding: 0;
}
.principal, header{
    background-color: #2962ff;
    width: 100%;
}
#piePagina{
    background-color: #3949ab;
    height: 100%;
    width: 20%;
}
.principal{
    background-color: #1a237e;
}
.principal, #piePagina, header{
    border: 1px #000000 solid;
    margin: 10px 5px 15px 20px;
    padding: 20px 5px 10px 15px;
}
h1, p{
    margin: 50px;
    padding: 10px;
    text-align: center;
}
p{
    text-align: justify;
}
#piePagina{
    margin: auto;
}