head{
    font-family: cursive;
    margin: auto;
    font-size: 33px;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 10px;
    padding: 0;
}
header, footer{
    background-color: rgb(204, 250, 253);
    height: 50vh;
    width: 100%;
}
.flex-container {
    display: flex;
    width: 50vh;
    background-color: #DDF58C;
}
.flex-item {
    background-color: #67C3E6;
    width: 50vh;
    height: 100px;
    margin: 10px;
}
.flex-container {
    flex-flow: wrap;
}
.flex-item{
    -ms-flex-align: center;
}
.main-start{
    background-color: #DDF58C;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}