body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #ccb487;
    height: 10vh;
    justify-content: space-around;
    width: 100%;
    margin-bottom: .5em;
}
header div{
    display: flex;
    flex-direction: row;
}
h1{
    align-items: center;
    color: black;
    font-size: 18px;
    font-family: cursive;
    display: flex;
    image-orientation: from-image;
}
.listanav1, .listanav2{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin: 40px;
    padding: 5px;
}
body{
    background-color: #333;
    margin: 1cm;
}

img{
    max-width: 100%;
    margin-bottom: .5em;
    outline: 2px;
    outline-offset: -10px;
    /* object-fit: cover; */
}

.galeria{
    columns: 6 320px;
    column-gap: .5em;
}

.img2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* footer */
footer{
    background: #2f2f2f;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
}

footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer p{
    color: white;
    margin-top: 40px;
}

html{
    scroll-behavior: smooth;
}

.redes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}