body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: rgb(204, 250, 253);
    height: 10vh;
    width: 100%;
}
aside{
    background-color: azure;
    font-family: cursive;
    float: left;
    height: 80vh;
    width: 15%;
}
main{
    background-color: #eaf5f570;
    float: right;
    height: 80vh;
    width: 85%;
}
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}
h1{
    color: #000000;
    font-size: 2rem;
    margin: 0, 0, 0, 5px;
}
aside a{
    border: 1px #000000 solid;
    color: #000000;
    display: block;
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
}
aside a:hover{
    background-color: hsl(204, 83%, 69%);
    border-radius: 10px;
}
p{
    display: inline-block;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}
footer i{
    font-size: 0.8rem !important;
}
footer a{     
    color: #000000;
}
footer a:hover{
    color: #ffffff; 
}